<div class="container">
    <header class="jumbotron">
   <!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
 
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
      <!-- Header -->
      <header class="bg-surface-primary border-bottom pt-6">
          <div class="container-fluid">
              <div class="mb-npx">
                  <div class="row align-items-center">
                      <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                          <!-- Title -->
                          <h1 class="h2 mb-0 ls-tight" onclick="Request">Commit Request</h1>
                      </div> <!-- Actions -->
                      <div class="col-sm-6 col-12 text-sm-end">
                          <div class="mx-n1">  <a href="request.component.html" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2"> <i class="bi bi-plus"></i> </span> <span>Create</span> </a> </div>
                      </div>
                  </div> <!-- Nav -->
                  <ul class="nav nav-tabs mt-4 overflow-x border-0">
                      <li class="nav-item "> <a href="#" class="nav-link active">All Request</a> </li>
                      <li class="nav-item"> <a href="#" class="nav-link font-regular">Committed Request</a> </li>
                      <li class="nav-item"> <a href="#" class="nav-link font-regular">File requests</a> </li>
                  </ul>
              </div>
          </div>
      </header> <!-- Main -->
      <main class="py-6 bg-surface-secondary">
          <div class="container-fluid">
              <!-- Card stats -->
              <div class="row g-6 mb-6">
                  <div class="col-xl-3 col-sm-6 col-12">
                      <div class="card shadow border-0">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Request</span> <span class="h3 font-bold mb-0"></span> </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i class="bi bi-credit-card"></i> </div>
                                  </div>
                              </div>
                              <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i> </span> <span class="text-nowrap text-xs text-muted">Since last month</span> </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                      <div class="card shadow border-0">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">New Request</span> <span class="h3 font-bold mb-0">2</span> </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i class="bi bi-people"></i> </div>
                                  </div>
                              </div>
                              <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i> </span> <span class="text-nowrap text-xs text-muted">Since last month</span> </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                      <div class="card shadow border-0">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Pending Request</span> <span class="h3 font-bold mb-0"></span> </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i class="bi bi-clock-history"></i> </div>
                                  </div>
                              </div>
                              <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-danger text-danger me-2"> <i class="bi bi-arrow-down me-1"></i> </span> <span class="text-nowrap text-xs text-muted">Since last month</span> </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                      <div class="card shadow border-0">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Approved Request</span> <span class="h3 font-bold mb-0"></span> </div>
                                  <div class="col-auto">
                                      <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i class="bi bi-minecart-loaded"></i> </div>
                                  </div>
                              </div>
                              <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i></span> <span class="text-nowrap text-xs text-muted">Since last month</span> </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card shadow border-0 mb-7">
                  <div class="card-header">
                      <h5 class="mb-0">Request Table</h5>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-hover table-nowrap">
                          <thead class="thead-light">
                              <tr>
                                  <th scope="col">Request Type</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Approver name</th>
                                  
                                  <th scope="col">Request time</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                 
                      </table>
                  </div>
  
              </div>
          </div>
      </main>
  </div>
</div>

    </header>
  </div>
  

